<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpLift Task - Dashboard</title>
</head>
<body>
    <%= userdata.name %>
    <%= userdata.username %>
    <%= userdata.email %>
    <%= userdata.password %>
    <%= userdata.term %>
</body>
</html>